extends layout

block main-content
  include navbar
  section.content
    h1= title
    p Welcome to #{title}
    div(ng-view)
    p.well= mongoMessage

  footer.container.text-center
    p &copy; 2015 Prasanna Kumar
