extends layout

block main-content
  include navbar
  section.content
    div(ng-view)

  footer.container.text-center
    p.container.text-center &copy; 2015 Prasanna Kumar
    .alert.alert-success(role='alert')= mongoMessage
