doctype html
html
  head
    title= title
    //- Default bootstrap theme
    //- link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    //- link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-darkly.min.css')
    link(rel='stylesheet', href='/lib/toastr/toastr.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color', content='#565656')
  body(ng-app='myApp')
    block main-content
    include scripts
