script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/lib/toastr/toastr.min.js')
script(type='text/javascript', src='/lib/angular/angular.min.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.min.js')
script(type='text/javascript', src='/lib/angular-route/angular-route.min.js')
script(type='text/javascript', src='/javascripts/app.js')
script(type='text/javascript', src='/javascripts/controllers/mainCtrl.js')
script(type='text/javascript', src='/javascripts/controllers/loginCtrl.js')
script(type='text/javascript', src='/javascripts/services/mvIdentity.js')
script(type='text/javascript', src='/javascripts/services/mvNotifier.js')
script(type='text/javascript', src='/javascripts/services/mvAuth.js')
