.col
  .col-md-3
    .panel.panel-default
      .panel-heading.text-center My Notes 
        span.badge {{ notes.length }}
      ul.list-group 
        li.list-group-item(ng-repeat='note in notes').btn
          a(ng-click='openNote(note)') {{ note.title }}
  .col-md-9
    .panel.panel-default
      .panel-heading
        .panel-title {{ notes[noteIndex].title }}
      .panel-footer
          p {{ notes[noteIndex].content }}
          p Notebook: 
            b {{ notes[noteIndex].notebook }}
          p Important: 
            i {{ notes[noteIndex].important }}
          .text-center {{ myVar }}
